body .p-select {
  --p-select-background: transparent;
  --p-select-disabled-background: transparent;
  --p-select-border-color: var(--color-gray-600);
  --p-select-border-radius: 999px;
  --p-select-color: var(--color-text);
  --p-select-placeholder-color: var(--color-text-light);
  --p-select-dropdown-color: var(--color-text);
  --p-select-focus-border-color: var(--color-text);
  --p-select-hover-border-color: var(--color-text);
}

body .p-select-option.p-select-option-selected {
  --p-select-option-selected-background: var(--color-gray-700);
  --p-select-option-selected-focus-background: var(--color-gray-900);
  --p-select-option-selected-color: var(--color-white);
  --p-select-option-selected-focus-color: var(--color-white);
}

body .p-select-option:not(.p-select-option-selected):not(.p-disabled):hover {
  --p-select-option-focus-background: var(--color-gray-200);
}
